.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

/* 할 일 텍스트를 감싼 박스에 스타일 적용 */
.TodoItem .title_col {
  flex: 1;
}
.TodoItem .content_col {
  flex: 2;
}

/* 할 일 아이템 등록 시간을 감싼 박스에 스타일 적용 */
.TodoItem .date_col {
  font-size: 14px;
  color: gray;
}

/* 삭제, 완료 버튼에 스타일 적용 */
.TodoItem .btn_col button {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 7px;
}

.TodoItem .btn_col button:nth-of-type(1) {
  background-color: tomato;
  color: white;
}

.TodoItem .btn_col button:nth-of-type(2) {
  background-color: yellowgreen;
  color: white;
}
