.App {
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: mintcream;
}
